/* mobile.css */
body {
  background: #fff;
}

/* pc전용 콘텐츠 비표시 */
.pc-only {
  display: none;
}

.container {
  width: 100%;
  outline: 1px solid #ccc;
}

#main-header {
  position: relative;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: center;
}

#main-header > h1 img {
  width: 100px;
}

#gnb {
  position: absolute;
  background: #ddd;
  width: 100%;
  top: 70px;
  padding: 20px 15px;
  display: none;
}

#gnb.on {
  display: block;
  z-index: 100;
}

#gnb > ul {
}


#gnb > ul > li:not(:last-child) {
  margin-bottom: 10px;
}

/* 
#gnb > ul > li:last-child {
  margin-bottom: 0px;
} */

#gnb > ul > li > a {
  color: var(--text-color);
}

#gnb > ul > li > a:hover {
  color: var(--main-color);
}

.right-menu {
  display: flex;
}

#gnb-toggle-btn {
  position: absolute;
  top: 20px;
  right: 15px;
  border-style: none;
  background-color: #fff;
}

#gnb-toggle-btn:hover {
  cursor: pointer;
}


/* swiper slider */
.swiper {
  width: 100%;
  height: calc(100vh - 70px);
  background: #ccc;
}

.swiper .swiper-slide.s1{
  background-image: url(../images/main-visual01.jpg);
  background-size: cover;
  background-position: center;
}

.swiper .swiper-slide.s2{
  background-image: url(../images/main-visual02.jpg);
  background-size: cover;
  background-position: center;
}

.swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper .swiper-slide .title {
  transform: translateY(-100px);
}

.swiper .swiper-slide .title h2 {
  font-size: 36px;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.swiper .swiper-slide .title h2 span {
  font-size: 18px;
  font-weight: normal;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff;
  display: none;
}

.swiper-pagination-bullet {
  border-radius: 0;
  border: 2px solid rgba(255, 255, 255, 0.75);
  width: 14px;
  height: 14px;
  background-color: transparent;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #fff;
  opacity: 1;
}

.swiper-pagination {
  bottom: 40px !important;
}